@media (max-width: 1000px) {
    /* For Desktop */
    .leftEdge, .rightEdge, .BannerRight, .callToAction  {
	    display: block;
    }

    .leftEdge, .rightEdge  {
        background-color: #1B242F;
    }

    .break {
        display: none;
    }
}

@media (max-width: 600px) {
    /* For tablets: */
    .col-md-1 {width: 8.33%;}
    .col-md-2 {width: 16.66%;}
    .col-md-3 {width: 25%;}
    .col-md-4 {width: 33.33%;}
    .col-md-5 {width: 41.66%;}
    .col-md-6 {width: 100%;}
    .col-md-7 {width: 58.33%;}
    .col-md-8 {width: 66.66%;}
    .col-md-9 {width: 75%;}
    .col-md-10 {width: 83.33%;}
    .col-md-11 {width: 91.66%;}
    .col-md-12 {width: 100%;}

    .leftEdge, .rightEdge, .BannerRight, .callToAction  {
        display: block;
    }

    .leftEdge, .rightEdge  {
        background-color: #1B242F;
    }

    .break {
        display: none;
    }
}

/* For mobile phones: */
@media (max-width: 500px){
    .col-md-1 {width: 8.33%;}
    .col-md-2 {width: 16.66%;}
    .col-md-3 {width: 25%;}
    .col-md-4 {width: 33.33%;}
    .col-md-5 {width: 41.66%;}
    .col-md-6 {width: 100%;}
    .col-md-7 {width: 58.33%;}
    .col-md-8 {width: 66.66%;}
    .col-md-9 {width: 75%;}
    .col-md-10 {width: 83.33%;}
    .col-md-11 {width: 91.66%;}
    .col-md-12 {width: 100%;}

    .leftEdge, .rightEdge, .BannerRight, .callToAction  {
        display: block;
    }

    .leftEdge, .rightEdge  {
        background-color: #1B242F;
        display: none;
    }

    .break {
        display: none;
    }

}

@media (max-width: 300px){
    .col-md-1 {width: 8.33%;}
    .col-md-2 {width: 16.66%;}
    .col-md-3 {width: 25%;}
    .col-md-4 {width: 33.33%;}
    .col-md-5 {width: 41.66%;}
    .col-md-6 {width: 100%;}
    .col-md-7 {width: 58.33%;}
    .col-md-8 {width: 66.66%;}
    .col-md-9 {width: 75%;}
    .col-md-10 {width: 83.33%;}
    .col-md-11 {width: 91.66%;}
    .col-md-12 {width: 100%;}

    .leftEdge, .rightEdge, .BannerRight, .callToAction  {
        display: block;
    }

    .leftEdge, .rightEdge  {
        background-color: #1B242F;
        display: none;
    }

    .break {
        display: none;
    }

}


.callToAction {
    display: block;
    overflow: hidden;
    background-color: #ffffff;
}


.leftEdge .rightEdge {
    background-color: #1B242F;
}


body {
    background-color: #1B242F;
}




.content {
    background-color: white;
}



.Banner {
    display: block;
    margin-left: auto;
    margin-right: auto
}


.BannerRight {
    float: right;
}
.dividerLeft {
	float: left;
	margin-top: 10px;
	margin-bottom: 20px;
}
.dividerRight {
	float: right;
	margin-top: 10px;
	margin-bottom: 20px;
}

.dividerCenter {
	display: block;
	margin-top: 10px;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
}



.Above {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
}

.facebook  {
    width:275px;
    height:445px;
    border:none;
    overflow:auto;
}


h1 {
    color: #000000;
    text-align: center;
    font-size: 25px;
}

h2 {
    color: #000000;
    text-align: left;
    font-size: 20px;
}

h3 {
    color: #000000;
    font-size: 18px;
}

.normal {
    font-size: 16px;
    color: #000000;
}

.col-md-4 {
    text-align: center;
}

.col-md-4 img {
    display: block;
    margin: 0 auto;
}

/* Calender */


* {
    margin: 0;
    padding: 0;
}




#calendar {
    background: #e4e0e7;
    box-shadow: 0 0 20px #878787;
    height: 208px;
    margin: 20px auto;
    position: relative;
    text-align: center;
    width: 216px;
}

#month {
    background: linear-gradient(#7b80de, #4a43c6);
    color: white;
    height: 30px;
    line-height: 30px;
    text-shadow: 0 -1px 0 #878787;
    width: 216px;
}

#days {
    background: linear-gradient(#f4f4f4, #ebebeb);
}

table.days {
    color: #888888;
    font-size: 11px;
    width: 216px;
}

table.day td, table.days td {
    width: 30px;
}

table.day td {
    background: #f4f0f7;
    color: #878787;
    height: 29px;
    box-shadow: 0 -1px 0 white;
}

table.day td.old-month {
    color: #aaaaaa;
}


table.day #event {
    border-bottom: 2px solid #99ccff;
}

#seven {
    display: none;
}

html, body {
    height: 100%; width: 100%;
    padding: 0; margin: 0;
}


body {
    padding: 10px;

    background-image: url("images/background2.jpg");
    background-position: bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;

}



/* Biography page specific */

.bioImg {
    display: block;
    margin: 0 auto;
}

.fill {
    background-color: #ffffff;
}


.container-fluid {
    padding: 0px;
}

.nav-pills {
    display: block;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
}


li.active {
    float: none;
    display: inline-block;
}

.dropdown-toggle {
    /*display: none;*/
    width: 50px;
    height: 50px;
}

/*footer*/
/*Home footer + sponsor*/

footer {
    padding-top: 10px;
    padding-bottom: 25px;
}

.sponsor {
    display: block;
    min-width: 100px;
    position: relative;
    margin: 0 auto;
}

.bottom-nav {
    list-style: none;
    text-align: center;
}

h2 {
	text-align: center;
	font-size: x-large;
	font-weight: bold;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
}

.floatTextLeft {
	display: table-column;
	text-align: left;
	float: left;	
}

.articleTitle {
	font-size: x-large;
	font-weight: bold;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
}

.articleSubTitle {
	font-weight: bold;
}

.floatTextRight {
	display: table-column;
	text-align: right;
	float: right;
	font-weight: bold;
}
.boldText {
	font-weight: bold;
}

.table {
	display: table;
}

.articleHeader {
	display: table-row;
	width: 100%;
}



/*Success message - contact form */
#success_message{ display: none;}

/*Contact form*/
.btn-primary {border-color: transparent;
}
.dividerImage {
	padding-top: 10px;
	padding-bottom: 10px;
}
#newsHeading {
	padding-bottom: 10px;
}

/* Accordion buttons*/
button.accordion {
	background-color: #eee;
	color: #444;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	text-align: left;
	border-style: none;
	outline: none;
	transition: 0.4s;
	border-collapse: collapse;
}

/* Accordion buttons active and hover*/
button.accordion.active, button.accordion:hover {
    background-color: #337ab7;
	color: white;
}

/* Accordion button shows minus or plus when open/closed*/
button.accordion:after {
    content: '\02795'; /* Unicode for plus */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}


button.accordion.active:after {
    content: "\2796"; /* Unicode for minus */
	color: white;
}

/* Accordion panel */
div.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0px;
    overflow: hidden;
    transition: 0.6s ease-in-out;
    opacity: 0;
	border: none;
	margin: 0;
}

/* Show accordion panel information*/
div.panel.show {
	opacity: 1;
	max-height: 100%;
	display: block !important;
	margin: 0;
	border-left-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-color: #337ab7;
	border-right-color: #337ab7;
	border-bottom-color: #337ab7;
	border-top-right-radius: 0px 0px;
	border-top-left-radius: 0px 0px;
	padding-top: 1em;
	background-color: #f5f5f5;
}



/*Photo Gallery*/
.album {
    margin: 0px auto;
    display:block
}

.carousel-inner .item {
    height: 640px;
    background-color: black;
}

.carousel-inner img {
    margin: auto;
}

.carousel-inner .item img {
    position:relative;
    top:50%;
    transform: translateY(-50%);
}

/* Grow effects*/
.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

/* Forms editiing */
* { box-sizing: border-box; }
body {
    font-size: 1.2em;
}
body input, body button {
    font-size: 1.2em;
}

form > div {
    margin: 1em;
}
form button {
    width: 100%;
}
label { display: block; }
input {
    width: 100%;
    padding: 0.2em;
}
button {
    padding: 0.2em;
}
.invalid {
    color: black;
}
.error {
    color: red;
}

#comment {
    min-height: 250px;
}

