@media (max-width: 1000px) {
    .leftEdge {
        display: none;
    }

    .rightEdge {
        display: none}

    .BannerRight{
        display: none;
    }

    header{
        background-color: #ffffff;
    }}


    .callToAction {
    display: block;
    }


.col-xs-12 {
    background-color: #2b542c;
}


body {
    background-color: #1B242F;
}
.col-xs-4{
    background-color: #ffffff;
}

.col-md-3{
    background-color: #1B242F;
    color: #ffffff;
}

.col-md-6{
    overflow: hidden;
    background-color: #ffffff;
}


.Banner {
    background-color: #ffffff;
}

.BannerRight {
    float: right;
}

.calltoaction  {

}

.Above {
    position: absolute;
    z-index: 1;
    left: 0%;
    top: 0;
}

.facebook  {
    width:275px;
    height:1000px;
    border:none;
    overflow:auto;
}

h1 {
    text-align: center;
}

h2 {
    text-align: left;
    font-size: large;
}