@media (max-width: 1000px) {
    .leftEdge {
	display: none;
	background-color: #1B242F;
    }


    .rightEdge {
        display: none
    }


    .BannerRight {
        display: none;
    }

    header {
        background-color: #ffffff;
    }

    body {
        background-image: none;
    }

}

    .callToAction {
    display: block;
    }



.callToAction {
    display: block;
    overflow: hidden;
    background-color: #ffffff;
}


.leftEdge .rightEdge {
    background-color: #1B242F;
}


body {
    background-color: #1B242F;
}




.content {
    background-color: white;
    display: block;
}



.Banner {
    background-color: #ffffff;
}


.BannerRight {
    float: right;
}
.dividerLeft {
	float: left;
}
.dividerRight {
	float: right;

}





.Above {
    position: absolute;
    z-index: 1;
    left: 0%;
    top: 0;
}

.facebook  {
    width:275px;
    height:445px;
    border:none;
    overflow:auto;
}


h1 {
    color: #000000;
    text-align: center;
    font-size: 25px;
}

h2 {
    color: #000000;
    text-align: left;
    font-size: 20px;
}

h3 {
    color: #000000;
    font-size: 18px;
}

.normal {
    font-size: 16px;
    color: #000000;
}

/* Calender */


* {
    margin: 0;
    padding: 0;
}




#calendar {
    background: #e4e0e7;
    box-shadow: 0 0 20px #878787;
    height: 208px;
    margin: 20px auto;
    position: relative;
    text-align: center;
    width: 216px;
}

#month {
    background: linear-gradient(#7b80de, #4a43c6);
    color: white;
    height: 30px;
    line-height: 30px;
    text-shadow: 0 -1px 0 #878787;
    width: 216px;
}

#days {
    background: linear-gradient(#f4f4f4, #ebebeb);
}

table.days {
    color: #888888;
    font-size: 11px;
    width: 216px;
}

table.day td, table.days td {
    width: 30px;
}

table.day td {
    background: #f4f0f7;
    color: #878787;
    height: 29px;
    box-shadow: 0 -1px 0 white;
}

table.day td.old-month {
    color: #aaaaaa;
}


table.day #event {
    border-bottom: 2px solid #99ccff;
}

#seven {
    display: none;
}

html, body {
    height: 100%; width: 100%;
    padding: 0; margin: 0;
}


body {
    padding: 10px;

    /*
    background-image: url("elkhorn-coral-589407.jpg");
    background-position: bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
    */
}

/* Biography page specific */

.bioImg {
    display: block;
    margin: 0 auto;
}

.fill {
    background-color: #ffffff;
}


.container-fluid {
    padding: 0px;
}

.nav-pills {
    display: block;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
}

li.active {
    float: none;
    display: inline-block;
}

/*footer*/
/*Home footer + sponsor*/

footer {
    padding-top: 10px;
    padding-bottom: 25px;
}

.sponsor {
    display: block;
    min-width: 100px;
    position: relative;
    display: block;
    margin: 0 auto;
}

.bottom-nav {
    list-style: none;
    text-align: center;
}

h2 {
	text-align: center;
	font-size: x-large;
	font-weight: bold;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
}

.floatTextLeft {
	display: table-column;
	text-align: left;
	float: left;	
}

.articleTitle {
	font-size: x-large;
	font-weight: bold;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
}

.articleSubTitle {
	font-weight: bold;
}

.floatTextRight {
	display: table-column;
	text-align: right;
	float: right;
}
.table {
	display: table;
}

.articleHeader {
	display: table-row;
	width: 100%;
}



/*Success message - contact form */
#success_message{ display: none;}

/*Contact form*/
.btn-primary {border-color: transparent;
}
.dividerImage {
	padding-top: 10px;
	padding-bottom: 10px;
}
#newsHeading {
	padding-bottom: 10px;
}

/* Accordion buttons*/
button.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

/* Accordion buttons active and hover*/
button.accordion.active, button.accordion:hover {
    background-color: #337ab7;
	color: white;
}

/* Accordion button shows minus or plus when open/closed*/
button.accordion:after {
    content: '\02795'; /* Unicode for plus */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}


button.accordion.active:after {
    content: "\2796"; /* Unicode for minus */
	color: white;
}

/* Accordion panel */
div.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0px;
    overflow: hidden;
    transition: 0.6s ease-in-out;
    opacity: 0;
	border: none;
	margin: 0;
}

/* Show accordion panel information*/
div.panel.show {
    opacity: 1;
    max-height: 100%;
	display: block !important;
	margin: 0;
}



/*Photo Gallery*/
.album {
    margin: 0px auto;
    display:block
}

.carousel-inner .item {
    height: 640px;
    background-color: black;
}

.carousel-inner img {
    margin: auto;
}

.carousel-inner .item img {
    position:relative;
    top:50%;
    transform: translateY(-50%);
}