@media (max-width: 1000px) {
    .leftEdge {
        display: none;
    }

    .rightEdge {
        display: none}

    .BannerRight{
        display: none;
    }

    header{
        background-color: #ffffff;
    }}


    .callToAction {
    display: block;
    }


.row {
    display: flex;
}


.callToAction {
    display: block;
}


.leftEdge .rightEdge {
    background-color: #1B242F;
}


body {
    background-color: #1B242F;
}
.col-xs-4{
    background-color: #ffffff;
}

.col-md-3{
    background-color: #1B242F;
    color: #ffffff;
}

.col-md-6{
    overflow: hidden;
    background-color: #ffffff;
}


.Banner {
    background-color: #ffffff;
}

.BannerRight {
    float: right;
}

.calltoaction  {

}

.Above {
    position: absolute;
    z-index: 1;
    left: 0%;
    top: 0;
}

.facebook  {
    width:275px;
    height:550px;
    border:none;
    overflow:auto;
}


h1 {
    color: #000000;
    text-align: center;
    font-size: 25px;
}

h2 {
    color: #000000;
    text-align: left;
    font-size: 20px;
}

h3 {
    color: #000000;
    font-size: 18px;
}

.normal {
    font-size: 16px;
    color: #000000;
}

/* Calender */


* {
    margin: 0;
    padding: 0;
}

html {
    font-family: sans-serif;
}



#calendar {
    background: #e4e0e7;
    box-shadow: 0 0 20px #878787;
    height: 208px;
    margin: 20px auto;
    position: relative;
    text-align: center;
    width: 216px;
}

#month {
    background: linear-gradient(#7b80de, #4a43c6);
    color: white;
    height: 30px;
    line-height: 30px;
    text-shadow: 0 -1px 0 #878787;
    width: 216px;
}

#days {
    background: linear-gradient(#f4f4f4, #ebebeb);
}

table.days {
    color: #888888;
    font-size: 11px;
    width: 216px;
}

table.day td, table.days td {
    width: 30px;
}

table.day td {
    background: #f4f0f7;
    color: #878787;
    height: 29px;
    box-shadow: 0 -1px 0 white;
}

table.day td.old-month {
    color: #aaaaaa;
}


table.day #event {
    border-bottom: 2px solid #99ccff;
}

#seven {
    display: none;
}


body {
    padding: 0 10px;
}

/* Biography page specific */

.bioImg {
    display: block;
    margin: 0 auto;
}

.fill {
    background-color: #ffffff;
}


.container-fluid {
    padding: 0px;
}

.nav-pills {
    display: block;
    margin: 0 auto;
    padding: 10px;
}

/*footer*/
/*Home footer + sponsor*/

.sponsor {
    display: block;
    padding: 5px;
    min-width: 100px;
    position: relative;
}
